.background {
    height: 100vh;
    background-position: center;
    overflow: hidden;
}

//Grid layout

.boardContainer {
    padding-top: 10vh;
    padding-left: 10vh;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.2fr 1fr 1fr 0.35fr 0.65fr;
}

.itemContainer {
    justify-self: center;
    align-self: center;
}

.specialCard1 {
    grid-row: 1;
    @extend .itemContainer
}

.specialCard2 {
    grid-row: 2;
    @extend .itemContainer
}


.cardTop1 {
    grid-row: 1;
    grid-column: 2;
    @extend .itemContainer
}

.cardTop2 {
    grid-row: 1;
    grid-column: 3;
    @extend .itemContainer
}

.cardBottom1 {
    grid-row: 2;
    grid-column: 2;
    @extend .itemContainer
}

.cardBottom2 {
    grid-row: 2;
    grid-column: 3;
    @extend .itemContainer
}

.scoreTop {
    @extend .itemContainer;
    padding-top: 20rem; //this could be same value as in .scoreBottom padding-bottom
}

.scoreBottom {
    @extend .itemContainer;
    padding-bottom: 20rem;
}

//Elements displayed

.card {
    // border: 2px solid var(--white-color);
    background-color: var(--white-color);
    opacity: 30%;
    width: 20rem;
    height: 23rem;
    margin: auto;

}

.specialCard {
    // border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    opacity: 30%;
    width: 20rem;
    height: 23rem;
    margin: auto;
}

.buttonContainer {
    grid-column: 4;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.button {
    border: none;
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-size: 1.3rem;
    width: 8rem;
    height: 4rem;
}

.score {
    color: white;
    font-size: 3rem;

}