//CARD COMPONENT 

@mixin containerCard {
    display: flex;
    justify-content: center;
    height: var(--cardHeight);
    width: var(--cardWidth);
}

@mixin cardCard {
    // position: relative;
    border: calc(0.008 * var(--cardHeight)) solid rgb(135, 135, 135);
    background: silver;
    height: 100%;
    width: 100%;
    transition: 0.15s;
    border-radius: 1%;
    box-shadow: 2px 2px 30px 1px rgb(234, 234, 234);
    z-index: 0;
}

@mixin heroCard {
    border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
    background: var(--jedi-color);

    .header {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }

    .image {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background: var(--white-color);
    }

    .info {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
    }

    .attack {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }
}

@mixin villainCard {
    border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
    background: var(--sith-color);

    .header {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }

    .image {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background: var(--white-color);
    }

    .info {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
    }

    .attack {
        border: calc(0.008 * var(--cardHeight)) solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }
}

@mixin card-hover {
    &:hover {
        transform: scale(1.04);
        z-index: 2
    }
}

@mixin headerCard {
    border: calc(0.008 * var(--cardHeight)) solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    transform: translate(0, -0.72rem);
    color: var(--white-color);
    font-size: calc(0.06 * var(--cardHeight)); //2 rem originaly
    height: 8%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin imageCard {
    border: calc(0.008 * var(--cardHeight)) solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
}

@mixin infoCard {
    border: calc(0.008 * var(--cardHeight)) solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: -14%;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(0.0225 * var(--cardHeight));
    width: 90%;
    height: 23%;
}

@mixin detailsCard {
    padding-left: 3.5%;
    padding-bottom: 2.5%;
    font-size: calc(0.037 * var(--cardHeight));
    margin: 0;
}

@mixin attackCard {
    border: calc(0.008 * var(--cardHeight)) solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: calc(0.145 * var(--cardHeight));
    height: calc(0.145 * var(--cardHeight));
    bottom: calc(0.06 * var(--cardHeight));
    font-size: calc(0.06 * var(--cardHeight));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

//DECK LAYOUT

@mixin headingDeck {
    text-align: center;
    margin: 2rem 0;
    color: var(--white-color);
}

@mixin containerDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0
}

@mixin deckContainerDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@mixin offSetValue {
    top: -28%;
}

// PLAYED CARDS

@mixin playedCardContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@mixin playedCard {
    position: relative;
    border: calc(0.008 * var(--playedCardHeight)) solid rgb(135, 135, 135); //PIXELE DO ZMIANY
    background: silver;
    height: 100%;
    width: 100%;
    transition: 0.15s;
    border-radius: 1%;
    box-shadow: 2px 2px 50px 6px rgb(220, 220, 220); //PIXELE DO ZMIANY
}

@mixin playedAttack {
    border: calc(0.008 * var(--playedCardHeight)) solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: calc(0.145 * var(--playedCardHeight));
    height: calc(0.145 * var(--playedCardHeight));
    bottom: calc(0.06 * var(--playedCardHeight));
    font-size: calc(0.06 * var(--playedCardHeight));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin playedInfo {
    border: calc(0.008 * var(--playedCardHeight)) solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: -14%;
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(0.0225 * var(--playedCardHeight));
    width: 90%;
    height: 23%;
}

@mixin playedHeader {
    border: calc(0.008 * var(--playedCardHeight)) solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    transform: translate(0, -0.72rem);
    color: var(--white-color);
    font-size: calc(0.06 * var(--playedCardHeight));
    height: 8%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin playedImage {
    border: calc(0.008 * var(--playedCardHeight)) solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
}

@mixin playedDetails {
    padding-left: 3.5%;
    padding-bottom: 2.5%;
    font-size: calc(0.037 * var(--playedCardHeight)); //1.2rem
    margin: 0;
}

@mixin playedVillainCard {
    border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
    background: var(--sith-color);

    .playedHeader {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }

    .playedImage {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background: var(--white-color);
    }

    .playedInfo {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
    }

    .playedAttack {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }
}

@mixin playedHeroCard {
    border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
    background: var(--jedi-color);

    .playedHeader {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }

    .playedImage {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background: var(--white-color);
    }

    .playedInfo {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
    }

    .playedAttack {
        border: calc(0.008 * var(--playedCardHeight)) solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }
}