.container {
    display: flex;
    justify-content: center;

}

.card {
    position: relative;
    border: 5px solid rgb(135, 135, 135);
    background: silver;
    height: 40rem;
    width: 27rem;
    transition: 0.15s;
    border-radius: 1%;
    box-shadow: 2px 2px 50px 6px rgb(220, 220, 220);
}

.hero {
    border: 5px solid var(--accent-color);
    background: var(--jedi-color);

    .header {
        border: 5px solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }

    .image {
        border: 5px solid var(--accent-color);
        background: var(--white-color);
    }

    .info {
        border: 5px solid var(--accent-color);
    }

    .attack {
        border: 5px solid var(--accent-color);
        background-color: var(--bg-color);
        color: var(--accent-color);
    }
}

.villain {
    border: 5px solid var(--accent-color);

    background: var(--sith-color);

    .header {
        border: 5px solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }

    .image {
        border: 5px solid var(--accent-color);
        background: var(--white-color);
    }

    .info {
        border: 5px solid var(--accent-color);
    }

    .attack {
        border: 5px solid var(--accent-color);
        background-color: var(--sith-bg-color);
        color: var(--accent-color);
    }
}

.card:hover {
    transform: scale(1.04);
    z-index: 2;
}

.header {
    border: 5px solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    transform: translate(0, -0.72rem);
    color: var(--white-color);
    font-size: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image {
    border: 5px solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
}

.info {
    border: 5px solid rgb(135, 135, 135);
    background: var(--white-color);
    margin-top: -14%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    width: 90%;
    height: 23%;
}

.details {
    padding-left: 3.5%;
    padding-bottom: 2.5%;
    font-size: 1.2rem;
    margin: 0;
}

.attack {
    border: 5px solid rgb(135, 135, 135);
    background-color: rgb(160, 160, 160);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    bottom: 2rem;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}