@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #00204a;
  --var-color: #005792;
  --light-color: #a5e2ff;
  --accent-color: #fdb44b;
  --accent-lighter-color: #fddfa5;
  --sith-color: rgb(144, 1, 1);
  --sith-bg-color: rgb(222, 63, 63);
  --jedi-color: #003780;
  --white-color: rgba(252, 250, 246, 1);
  --text-color: #707070;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: var(--white-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}